<!-- <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewClientes()">Nuevo Cliente</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-clientes-item
      *ngFor="let clientesEl of clientes; let i = index"
      [clientes]="clientesEl"
      [index]="i"></app-clientes-item>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <!-- <app-clientes-item
      *ngFor="let itemCliente of this.listaClientes; let i = index"
      [clientes]= "itemCliente"
      [index]="i"></app-clientes-item> -->
<div *ngFor="let itemCliente of this.listaClientes; let i = index"
 >

  <a  style="cursor: pointer;"
  [routerLink]="i"
   routerLinkActive="active"
  class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ itemCliente.Nombre }}</h4>
      <p class="list-group-item-text">{{ itemCliente.Apellidos }}</p>
    </div>
  </a>



</div>
  </div>
</div>
